/* Color picker */

.color_picker {
  position: absolute;
  margin-left: 50vh;
}

/* drop down for Color Harmonys */

label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}

/* Color boxes */

.harmony_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 80vh;
  height: 15vh;
  padding: 5px;
}

.harmony_box {
  border: solid black 1px;
  margin-top: 6px;
}
